.cab {
  padding-top: 15px;
  height: 100px;
  color: white;
  position: relative;
}

.cab a {
  text-decoration: none;
  color: white;
}

.search {
  margin: 60%;
}

.background-header {
  background-color: #3da7f2;
}

.button-like {
  color: #3da7f2;
  font-size: 20px;
}
