
  <mat-toolbar color="primary" class="cab mat-elevation-z4">
    <mat-toolbar-row>
      <span>
        <a  routerLink="">
          Movie App
        </a>
      </span>
      <span class="search">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>search</mat-label>
            <input matInput [(ngModel)]="query"
                   placeholder="Ex. movie" [ngModelOptions]="{standalone: true}">
            <button class="btn btn-outline-light"
             routerLink="/search/{{query}}" type="button" routerLink="search">pesquisar</button>
          </mat-form-field>
        </form>
      </span>
    </mat-toolbar-row>
  </mat-toolbar>